@font-face {
    font-family: 'favoritext';
    src: url('fonts/ABCFavoritExtended-Regular-Trial.woff2');
}
@font-face {
    font-family: 'favoritextb';
    src: url('fonts/ABCFavoritExtended-Bold-Trial.woff2');
}
@font-face {
    font-family: 'favoritexp';
    src: url('fonts/ABCFavoritExpanded-Regular-Trial.woff2');
}
@font-face {
    font-family: 'favorit';
    src: url('fonts/ABCFavorit-Regular-Trial.woff2');
}

.prodContainer {
    background-image: url('gradbg.png') !important;
}

#loader {
    border: 4.5px solid black;
    border-radius: 50%;
    border-top: 4.5px solid white;
    width: 43px;
    height: 43px;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.nav li a, ul.nav li a:visited {
    color: unset !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: unset !important;
}

ul.nav li.active a {
    color: unset !important;
}

.text-white {
    color: white !important;
}

.text-white:hover {
    color: lightslategray !important;
}

.box:hover {
    color: white;
    background-color: black !important;
    box-shadow:0px 0px 0px 3px rgb(255, 255, 255) inset;
}





